html, body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#canvas {
    width: 100%;
    height: 100%;
}
